<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Javier Chamorro Abella y Óscar Sánchez Rueda.
</p>

<img src="/images/oscar.jpg" width="100" height="100" />
<img src="/images/imagen.jpg"width="100" height="100" />

<p></p>
<a href="https://github.com/javierchamorro/Quiz">https://github.com/javierchamorro/Quiz</a>

